<h1>Olá {{ usuario.nome }}!</h1>
<br/>
<h4>Acesse <a href="http://www.pdall.com.br/renew/{{usuario.tokenForget}}">http://www.pdall.com.br/renew/{{usuario.tokenForget}}</a> para definir a nova senha.</h4>
<br>
<br>
<small><a href="http://www.pdall.com.br/">http://www.pdall.com.br/</a></small>