<!DOCTYPE html>
<html>
<head><style></style></head>
<body class="politica">
    <small>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit dapibus ipsum, non condimentum elit luctus eget. Cras feugiat nibh eu justo tempus dignissim. Praesent dui est, vestibulum et luctus nec, mattis sed diam. Donec cursus velit eu sapien consectetur mattis. In interdum sem eu lacus cursus, vitae porttitor dolor condimentum. Pellentesque ut nisl sit amet ante faucibus pretium eu sed augue. Suspendisse eget nunc vitae nunc luctus tincidunt. Fusce maximus cursus consectetur. In quis lectus sit amet libero tincidunt posuere eget at ipsum. Proin dolor lacus, posuere eu leo sed, convallis aliquam lectus. Maecenas id aliquam arcu. Nulla ut diam in nunc ultrices faucibus vel ac nulla. Suspendisse sed felis in ex fermentum cursus sit amet quis sem. Curabitur quis fermentum mauris. Praesent consequat pellentesque facilisis. Aliquam venenatis est ipsum, a vehicula enim congue condimentum.
        <br/>
        Cras tellus ipsum, facilisis quis eleifend porta, ultricies ut nunc. In venenatis risus at quam suscipit, ut luctus velit vestibulum. Mauris vehicula erat et tellus bibendum consequat. Suspendisse non tortor risus. Mauris eget leo velit. Morbi tincidunt, nisl placerat aliquet pretium, sem turpis convallis nunc, ut sollicitudin ex dui at odio. Ut vel velit mattis, pretium odio in, suscipit eros. Vestibulum fermentum risus metus, vel interdum purus consectetur non.
        <br/>
        Cras sodales, neque eu faucibus venenatis, eros dui lacinia odio, vehicula vehicula erat ante quis nisl. Pellentesque a nibh mattis, consectetur justo sit amet, euismod magna. Etiam eget est hendrerit, pharetra nunc eu, pellentesque enim. Suspendisse potenti. Quisque accumsan neque eget turpis tempus bibendum. Duis consequat sodales ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec blandit tellus vel nisl consequat, eget pretium eros posuere. Aenean rhoncus auctor nibh, sit amet semper libero sagittis eu.
        <br/>
        Etiam in tellus pulvinar, laoreet erat vel, ornare tellus. Morbi non porttitor odio, eu aliquet nunc. Nulla tristique lorem sit amet erat egestas, vitae maximus neque pellentesque. Sed tempor rutrum aliquam. Morbi dolor leo, semper id vestibulum vitae, ullamcorper eu massa. Sed dignissim non ante eu fermentum. Nam nisl nibh, rutrum nec purus eget, molestie congue eros. Morbi eleifend felis scelerisque elit ultricies convallis.
        <br/>
        Vivamus malesuada justo arcu, nec ultrices dolor finibus et. Vestibulum commodo efficitur justo sed finibus. Sed ut mattis odio. Fusce eu urna sit amet mauris interdum mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet venenatis leo. Donec quis nisi felis. Vestibulum condimentum, odio ac rutrum tristique, purus felis porta massa, sed blandit lacus turpis in ex. Donec fermentum eleifend elit, id commodo sapien posuere at. Curabitur sed turpis at felis faucibus feugiat imperdiet vitae leo. Praesent varius sodales luctus. Donec ex tellus, mattis vitae odio ut, accumsan tempor dolor. Mauris sit amet interdum justo. Nulla purus tellus, pellentesque consectetur pretium vitae, hendrerit sit amet lacus. Maecenas ac eros turpis.
    </small>
</body>
</html>